<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color:rgb(88,197,246);"><img src="assets/img/Log.png" style="width:192px;height:111px;margin-left:400px;">
    <div class="form-group">
    	<!-- Searching form -->
    	<form>
    	Email:
    	<input type="email">
    	<button class="btn btn-primary" type="button">Search</button>
    	</form>
    	<!-- Searching form -->
    </div>
    <div class="form-group">
      <!-- User profile form -->
       <img class="mr-3">
       <label>Fullname</label>
       <br/>
       <label>Email</label>
       <br/>
       <!-- User profile form -->
       
       <!-- Asking form -->
       <form>
       	Question: <input type="text">
       	<button class="btn btn-primary" type="button">Ask</button>
       </form>
       <!-- Asking form -->
       
       <!-- Loading wall form -->
       <form>
       <button class="btn btn-primary" type="button">Question</button>
       <div class="container">
            <div class="media">
               <img class="mr-3">
                <div class="media-body">
                    <h5>Question</h5>
                    <p>Answer if answered</p>
                    <!-- input answer if not yet -->
                    <input type="text">
                </div>
            </div>
        </div>
        </form>
        <!-- Loading wall form -->
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>