<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" async="" src="{% static "layoutfiles/analytics.js.download" %} "></script>
    <script async="" src="{% static "layoutfiles/gtm.js.download" %} "></script>
    <title>Log in</title>
    <meta name="description" content="Find out what people want to know about you. Ask questions and get answers on any topic!">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="fxGsaqI2/zN7ZlbVsAWYkWDZGjcTl2MZTZQFk8hmWna4whSKaNQ4tWlv5hdCvFyGV7IFI66jECSZDmLCubsWyg==">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ask and Answer - ASKfm">
    <meta property="og:description" content="Find out what people want to know about you. Ask questions and get answers on any topic!">
    <meta property="og:url" content="https://ask.fm/">
    <meta property="og:image" content="https://static.ask.fm/assets/logo-preview-8de04b038ed54339d316d36c3f9ebb1fcae0fad398b7f968908d8e2d4ae20318.png">
    <link rel="canonical" href="https://ask.fm/">
    <link rel="image_src" href="https://static.ask.fm/assets/logo-preview-8de04b038ed54339d316d36c3f9ebb1fcae0fad398b7f968908d8e2d4ae20318.png">

    <link rel="stylesheet" media="all" href="{% static "layoutfiles/application_ltr-f4f7e41b3f5b0061914736355d1efd8b12b862a42fe7c0272329266d07453e31.css" %} " data-turbolinks-track="true">
    <script src="{% static "layoutfiles/application-3674d1b0a271ec816ac7ddcc763cfb70bacf9586c97adb6cb7832e6bed846879.js.download" %} " data-turbolinks-track="true"></script>
</head>

<body class="theme-0 dialogBody" data-id="signup/new">
    <script>
        window.Config && window.Config.init({ "poller:interval": 30000, "poller:cache_limit": 10, "poller:title": true, "mass_ask_limit": 50, "flash:delay": 3000, "gtm": true, "uploader:max_size": 8388608, "uploader:resize:enabled": false, "uploader:resize:max_size": 13000000, "uploader:resize:max_dimension": 2048, "ads_post_message_urls": ["https:/askfm.adspirit.de"], "in_dap_if": false, "page:category": "Home", "page:type": "Welcome", "page:user_id": null });
    </script>
    <div id="loaderMother" style="display:none"></div>
    <header id="topMenu" class="topMenu">
        <div class="rsp-eql-desktop">
            <section class="topBar rsp-container">
                <a class="topBar-left" href=""></a>
                <div class="topBar-right">
                    <a class="btn-action plain" href="{% url 'signup' %}">Sign up</a>
                </div>
                <h1>Login</h1>
            </section>
        </div>
        <div class="rsp-lte-tablet rsp-container">
            <section class="topBar">
                <div class="topBar-left">
                    <a class="btn-action plain" href="{% url 'askme' %}">Backaaaa</a>                  
                </div>
                <div class="topBar-right">
                    <a class="btn-action plain" href="{% url 'signup' %}">Sign up</a>
                </div>
                <h1>Login</h1>
            </section>
        </div>
    </header>
    <main id="contentArea" class="rsp-container">
        <div class="main-content util-clearfix">
            <div class="main-column util-clearfix">
                <section class="loginServices">
                    <nav>
                    </nav>
                    <h3>
                        <span></span>
                    </h3>
                </section>
                <form id="signupNewForm" class="signupForm" action="" method="POST">
                    {% csrf_token %}
                    <div class="inputFormBox">
                        <div class="inputFormPadding">
                            {{form.username}}
                        </div>
                        <div class="inputFormPadding">
                            {{form.password}}
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="simpleFormItem">
                        {% for field in form %}
                            <div>
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="simpleFormItem" id="signupFooter">
                        <input type="submit" class="btn-primary-wide" value="Log In">
                        <p>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
