{% extends 'vejoi/base.html' %}
{% block title %} Profile {% endblock%}
{% block content %}
    <form action="{% url 'ask' %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <label><b>@{{user}}</b></label>
            <input name="name" type="hidden" value="{{user}}"/>
            <br>
            {{form.text}}
        {% elif not user.is_authenticated %}
            {{ form.as_p }}
        {% endif %}
        <input name="responder_id" type="hidden" value="{{ object.pk }}"/>
        <br>
        <button>Submit</button>
    </form>
    {% for q in questions %}
        {{q}}
        {{q.answer}}
        <br>
    {% endfor %}  
{% endblock%}